*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fafafa;

}
/* .html{
    background-color: #fafafa;
    height: 100%;
} */
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
}

.top{
    width: 350px;
    height: 380px;
    background-color: white;
    border: 1px solid  rgba(0, 0, 255, 0.1);
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;   
}
.mid{
    width: 350px;
    background-color: white;
    border: 1px solid  rgba(0, 0, 255, 0.1);
    height: 63px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding-top: 10px;
}
.mid1 a{
    margin: 0;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
    text-decoration: none;

}
.bot p{
    display: flex;
    justify-content: center;
}
.h1{
    margin-top: 20px;
    margin-bottom: 0;
}
.h1 img{
    height: 60px;
}
input{
    width: 268px;
    height: 36px ;
    padding: 0 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.1);
    background-color: #fafafa;
}
input:focus{
    border-color:  rgb(0, 0, 0,0.5);
}
.inputcon1{
    margin-top: 32px;
}
.inputcon2{
    margin-top: 6px;
}
::placeholder { 
    opacity: 0.9;  /* độ mờ */
    font-size: 13px;
    font-weight: 400;
}
.btn button{
    flex-direction: row;
    height: 30px;
    width: 268px;
    background-color: #b2dffc;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 8px;
    font-weight: 600;
 
}

.dangnhapbangfb{
    cursor: pointer;
    margin-top: 25px;

}
.fa-facebook-square{
   font-size: 18px;
   color:  #385185;

}
.dangnhapbangfb a{
    text-decoration: none;
    margin-left: 10px;
    color:  #385185;
    font-weight: 600;
}
.quenmk {
    font-size: 0.8rem ;
    margin-top: 20px;
    cursor: pointer;

}
.quenmk a{
    text-decoration: none;
    color: #0070b8
    ;
}
.bot   p{
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 15px;
}
.row{
    display: flex;
    justify-content: center;
}
.footer_list >*{
    width: auto;
    padding-left: 12px;
    padding-right: 0;

}
.footer_list a{
    justify-content: center;

}
.row a{
    
    text-decoration: none;
    color: #8e8e8e  ;
    font-size: 12px;
}

.footer{
    margin-top: 80px;
}
.fn{
    margin-top: 10px ;
    margin-bottom: 50px;
}
.fn2{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8e8e8e  ;
}
.or h6{
    font-size: 13px;
    color: #000 ;
    opacity:0.5 ;
    /* margin-top: 10px; */
    margin: 0 10px;
}
.or{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

}
.line{
    width: 105px;
    height: 2px;
    background: #efefef;
}
.bot .img img{
    width: 135px;
    height: 40px;
}
.bot .img{
    margin-top: 25px;
}
.loginform{
    max-width:800px;
}
.iphone img{
    height: 630px;
}
.iphone{
    margin-top: 10px;
}

@media (max-width: 739px){
    .iphone{
        display: none;
    }
    .top{
        border: none;
        background-color: #fafafa;
    }
    .mid{
        background-color: #fafafa;
        border: none;


    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px){
    .iphone{
        display: none;
    }
    .login{
        margin-top: 50%;
    }
    .footer{
        margin-top: 30%;
        
    }
    .img2{
        display: none;
    }
}


